<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>דף הבית</ion-title>
    <ion-buttons end>
        <button ion-button tappable (click)="presentNotifications($event)">
          <ion-icon name="notifications"></ion-icon>
        </button>
        <button ion-button tappable (click)="detailUser()">
          <ion-icon name="cog"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content  padding>
<div >icon</div>
<p> <span>{{phone}}</span>נכנסת בהצלחה </p>
<p>לקבוצת</p><span *ngIf="group">{{group.name}}</span><span *ngIf="!group">אתה לא מחובר כרגע לקבוצה פעילה</span>
<button ion-button (click)="addMeToKodGroup()">הצטרפות לקבוצה</button>
</ion-content>