page-register {
  
[icon-only] ion-icon {
    line-height: 0.90 !important;
  }
  ion-icon {
    font-size: 30px; //Preferred size here
}

ion-icon[item-start], .item-ios ion-icon[item-end] {
    margin-right: 0 !important;
    margin-top: 0px !important;
    margin-bottom: -8px !important;
    margin-left: -4px !important;
}

.item-labe{
    margin: 9px 0px 10px 0px !important;
    border-radius: 25px !important;
    height: 47px;
    color: #111 !important;
    background: #ffffff !important;
    border: 1px solid #444444 !important;
    width: 100%;
}

.label-ios[floating] {
    margin-bottom: -13px !important ;
    margin-right: 14px !important;
}
 
   
  }

