<!--
  Generated template for the GroupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>קבוצות </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
    <ion-list-header>
      <h1>קבוצות שאתה רשום </h1> 
       </ion-list-header>
  <ion-list *ngIf="groups">
    <ion-item *ngFor="let group of groups" (click)="openHome(group)">
      <h2> {{group.name}}</h2>
      <p> {{ group.description}}</p>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="groupDisable">
    <ion-item *ngFor="let group of groupDisable">
      <h2 style="color: grey">{{group.name}}</h2>
      <p style="color: grey">{{ group.description}}</p>
    </ion-item>
  </ion-list>

  <ion-list-header>
    <h1> קבוצות בהם אתה מנהל</h1>
    </ion-list-header>

  <ion-list *ngIf="managmentGroup">
    <ion-item-sliding *ngFor="let groupManagment of managmentGroup">
      <ion-item (click)="openHomeManagment(groupManagment)">
        <h2> {{groupManagment.name}}</h2>
        <p> {{ groupManagment.description}}</p>
      </ion-item>

      <ion-item-options>
        <button ion-button color="light"  (click)="settingGroup(groupManagment)">
          <ion-icon name="settings" ></ion-icon>
         הגדרות
        </button>
        <button ion-button color="primary"  (click)="deleteGroup(groupManagment)">
          <ion-icon name="trash" ></ion-icon>
          מחק
        </button>
        <button ion-button color="secondary"  (click)="addUsersToGroup(groupManagment)">
          <ion-icon name="person-add"></ion-icon>
           הוספת משתמשים 
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-list *ngIf="managmentGroupDisable">
    <ion-item *ngFor="let groupManagment of managmentGroupDisable">
      <div class="input-wrapper" style="color:grey">{{groupManagment.name}} {{ groupManagment.description}}</div>
    </ion-item>
  </ion-list>
  <p *ngIf="!groups&&!groupManagment"> כרגע אתה לא מחובר לאף קבוצה</p>
</ion-content>